In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [43]:
train=pd.read_csv("D:\\IDMA\\ML Course\CarPrice_Assignment_train_unclean.csv")
test=pd.read_csv("D:\\IDMA\\ML Course\CarPrice_Assignment_test.csv")

In [44]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         153 non-null    int64
 1   CarName           153 non-null    object
 2   fueltype          150 non-null    object
 3   aspiration        151 non-null    object
 4   doornumber        152 non-null    object
 5   carbody           153 non-null    object
 6   drivewheel        153 non-null    object
 7   enginelocation    142 non-null    object
 8   wheelbase         151 non-null    float64
 9   carlength         150 non-null    float64
 10  carwidth          149 non-null    float64
 11  carheight         151 non-null    float64
 12  curbweight        152 non-null    float64
 13  enginetype        153 non-null    object
 14  cylindernumber    152 non-null    object
 15  enginesize        153 non-null    int64
 16  fuelsystem        153 non-null    object
 17  boreratio         151 non-null    float64
 18  stroke            150 non-null    float64
 19  compressionratio  151 non-null    float64
 20  horsepower        153 non-null    int64
 21  peakrpm           146 non-null    float64
 22  citympg           150 non-null    float64
 23  highwaympg        150 non-null    float64
 24  price             153 non-null    float64
dtypes: float64(12), int64(3), object(10)
memory usage: 30.0+ KB

In [45]:
train.isna().sum()

symboling            0
CarName              0
fueltype             3
aspiration           2
doornumber           1
carbody              0
drivewheel           0
enginelocation      11
wheelbase            2
carlength            3
carwidth             4
carheight            2
curbweight           1
enginetype           0
cylindernumber       1
enginesize           0
fuelsystem           0
boreratio            2
stroke               3
compressionratio     2
horsepower           0
peakrpm              7
citympg              3
highwaympg           3
price                0
dtype: int64

In [46]:
for column in train['fueltype']:
    train['fueltype'].fillna(train['fueltype'].mode()[0], inplace=True)
for column in train['aspiration']:
    train['aspiration'].fillna(train['aspiration'].mode()[0], inplace=True)
for column in train['doornumber']:
    train['doornumber'].fillna(train['doornumber'].mode()[0], inplace=True)
for column in train['enginelocation']:
    train['enginelocation'].fillna(train['enginelocation'].mode()[0], inplace=True)
for column in train['cylindernumber']:
    train['cylindernumber'].fillna(train['cylindernumber'].mode()[0], inplace=True)

In [47]:
train['wheelbase'].fillna(train['wheelbase'].mean(), inplace=True)
train['carlength'].fillna(train['carlength'].mean(), inplace=True)
train['carwidth'].fillna(train['carwidth'].mean(), inplace=True)
train['carheight'].fillna(train['carheight'].mean(), inplace=True)
train['curbweight'].fillna(train['curbweight'].mean(), inplace=True)
train['boreratio'].fillna(train['boreratio'].mean(), inplace=True)
train['stroke'].fillna(train['stroke'].mean(), inplace=True)
train['compressionratio'].fillna(train['compressionratio'].mean(), inplace=True)
train['peakrpm'].fillna(train['peakrpm'].mean(), inplace=True)
train['citympg'].fillna(train['citympg'].mean(), inplace=True)
train['highwaympg'].fillna(train['highwaympg'].mean(), inplace=True)

In [48]:
train.isna().sum()

symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [49]:
test.isna().sum()

symboling            0
CarName              0
fueltype             0
aspiration           0
doornumber           0
carbody              0
drivewheel           0
enginelocation       0
wheelbase            0
carlength            0
carwidth             0
carheight            0
curbweight           0
enginetype           0
cylindernumber       0
enginesize           0
fuelsystem           0
boreratio            0
stroke               0
compressionratio     0
horsepower           0
peakrpm              0
citympg              0
highwaympg           0
price               52
dtype: int64

In [50]:
train['CarName']=train['CarName'].apply(lambda name: name.split()[0])
train.rename(index=str,columns={'CarName':'Company'},inplace=True)
train['total_mpg']=(55*train['citympg']/100)+(45*train['highwaympg']/100)
train.drop(['citympg','highwaympg'],axis=1,inplace=True)
train.symboling=train.symboling.astype(str)
train.head()

,symboling,Company,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,price,total_mpg
0,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500.000000,13950.0,26.70
1,0,peugeot,gas,std,four,wagon,rwd,front,114.2,198.9,...,four,120,mpfi,3.46,2.19,8.4,95,5000.000000,16695.0,21.25
2,3,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,...,four,156,spdi,3.58,3.86,7.0,145,5000.000000,12629.0,21.25
3,1,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,...,four,92,2bbl,3.05,3.03,9.0,62,4800.000000,6338.0,34.15
4,2,toyota,gas,std,two,convertible,rwd,front,98.4,176.2,...,four,146,mpfi,3.62,3.50,9.3,116,5096.232877,17669.0,26.70

In [51]:
test['CarName']=test['CarName'].apply(lambda name: name.split()[0])
test.rename(index=str,columns={'CarName':'Company'},inplace=True)
test['total_mpg']=(55*test['citympg']/100)+(45*test['highwaympg']/100)
test.drop(['citympg','highwaympg'],axis=1,inplace=True)
test.symboling=test.symboling.astype(str)
test.head()

,symboling,Company,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,price,total_mpg
0,2,saab,gas,turbo,four,sedan,fwd,front,99.1,186.6,...,four,121,mpfi,3.54,3.07,9.0,160,5500,NaN,22.15
1,3,saab,gas,std,two,hatchback,fwd,front,99.1,186.6,...,four,121,mpfi,2.54,2.07,9.3,110,5250,NaN,24.15
2,2,subaru,gas,std,two,hatchback,fwd,front,93.7,157.9,...,four,108,2bbl,3.62,2.64,8.7,73,4400,NaN,28.25
3,1,nissan,gas,std,two,hatchback,fwd,front,94.5,165.6,...,four,97,2bbl,3.15,3.29,9.4,69,5200,NaN,33.70
4,1,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,...,four,98,mpfi,3.24,3.08,9.4,112,6600,NaN,27.35

In [52]:
temp = train.copy()
temp.head()
table = temp.groupby(['Company'])['price'].mean()
table.sort_values(ascending=True)

Company
Nissan          5499.000000
maxda           5645.000000
chevrolet       6007.000000
plymouth        7350.200000
vokswagen       7775.000000
honda           7874.555556
dodge           8127.571429
subaru          8246.500000
volkswagen      9416.666667
renault         9595.000000
isuzu           9627.000000
mitsubishi      9648.000000
toyota          9702.818182
mazda          10606.461538
nissan         11907.333333
saab           13176.666667
peugeot        15489.090909
toyouta        15750.000000
alfa-romero    16500.000000
mercury        16503.000000
volvo          17573.888889
audi           17970.833400
bmw            27812.500000
porsche        31024.666667
porcshce       32528.000000
jaguar         33900.000000
buick          34900.000000
Name: price, dtype: float64

In [53]:
train.Company.unique()

array(['audi', 'peugeot', 'mitsubishi', 'toyota', 'subaru', 'porsche',
       'volvo', 'maxda', 'jaguar', 'mazda', 'bmw', 'volkswagen', 'nissan',
       'honda', 'alfa-romero', 'dodge', 'porcshce', 'vokswagen',
       'toyouta', 'buick', 'chevrolet', 'plymouth', 'mercury', 'saab',
       'renault', 'isuzu', 'Nissan'], dtype=object)

In [54]:
train.Company.replace('maxda','mazda',inplace=True)
train.Company.replace('Nissan','nissan',inplace=True)
train.Company.replace('porcshce','porsche',inplace=True)
train.Company.replace('toyouta','toyota',inplace=True)
train.Company.replace('vokswagen','volkswagen',inplace=True)

In [55]:
train.Company.unique()

array(['audi', 'peugeot', 'mitsubishi', 'toyota', 'subaru', 'porsche',
       'volvo', 'mazda', 'jaguar', 'bmw', 'volkswagen', 'nissan', 'honda',
       'alfa-romero', 'dodge', 'buick', 'chevrolet', 'plymouth',
       'mercury', 'saab', 'renault', 'isuzu'], dtype=object)

In [56]:
test.Company.unique()

array(['saab', 'subaru', 'nissan', 'toyota', 'volkswagen', 'vw',
       'plymouth', 'alfa-romero', 'dodge', 'buick', 'audi', 'jaguar',
       'porsche', 'mitsubishi', 'volvo', 'isuzu', 'mazda', 'bmw', 'honda'],
      dtype=object)

In [57]:
test.Company.replace('vw','volkswagen',inplace=True)

In [58]:
test.Company.unique()

array(['saab', 'subaru', 'nissan', 'toyota', 'volkswagen', 'plymouth',
       'alfa-romero', 'dodge', 'buick', 'audi', 'jaguar', 'porsche',
       'mitsubishi', 'volvo', 'isuzu', 'mazda', 'bmw', 'honda'],
      dtype=object)

In [59]:
train.columns

Index(['symboling', 'Company', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'price', 'total_mpg'],
      dtype='object')

In [60]:
#train.drop(['symboling','aspiration','aspiration','enginelocation','wheelbase','carlength','carwidth',
 #                   'carheight','curbweight','cylindernumber','enginesize','fuelsystem','boreratio','stroke',
  #                  'compressionratio','peakrpm'],axis=1,inplace=True)

In [61]:
train.drop(['symboling','aspiration','aspiration','enginelocation','cylindernumber','boreratio','stroke',
                    'compressionratio','enginesize','fuelsystem'],axis=1,inplace=True)

In [62]:
train.columns

Index(['Company', 'fueltype', 'doornumber', 'carbody', 'drivewheel',
       'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'enginetype', 'horsepower', 'peakrpm', 'price', 'total_mpg'],
      dtype='object')

In [63]:
train.shape

(153, 15)

In [64]:
#test.drop(['symboling','aspiration','aspiration','enginelocation','wheelbase','carlength','carwidth',
 #                   'carheight','curbweight','cylindernumber','enginesize','fuelsystem','boreratio','stroke',
  #                  'compressionratio','peakrpm'],axis=1,inplace=True)

In [65]:
test.drop(['symboling','aspiration','aspiration','enginelocation','cylindernumber','boreratio','stroke',
                    'compressionratio','enginesize','fuelsystem'],axis=1,inplace=True)

In [66]:
test.shape

(52, 15)

In [67]:
test.columns

Index(['Company', 'fueltype', 'doornumber', 'carbody', 'drivewheel',
       'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'enginetype', 'horsepower', 'peakrpm', 'price', 'total_mpg'],
      dtype='object')

In [68]:
train=pd.get_dummies(train)
train.shape

(153, 49)

In [69]:
#train

In [70]:
test=pd.get_dummies(test)
test.shape

(52, 45)

In [71]:
train.columns.sort_values(ascending=True)

Index(['Company_alfa-romero', 'Company_audi', 'Company_bmw', 'Company_buick',
       'Company_chevrolet', 'Company_dodge', 'Company_honda', 'Company_isuzu',
       'Company_jaguar', 'Company_mazda', 'Company_mercury',
       'Company_mitsubishi', 'Company_nissan', 'Company_peugeot',
       'Company_plymouth', 'Company_porsche', 'Company_renault',
       'Company_saab', 'Company_subaru', 'Company_toyota',
       'Company_volkswagen', 'Company_volvo', 'carbody_convertible',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'carheight', 'carlength', 'carwidth', 'curbweight',
       'doornumber_four', 'doornumber_two', 'drivewheel_4wd', 'drivewheel_fwd',
       'drivewheel_rwd', 'enginetype_dohc', 'enginetype_l', 'enginetype_ohc',
       'enginetype_ohcf', 'enginetype_ohcv', 'enginetype_rotor',
       'fueltype_diesel', 'fueltype_gas', 'horsepower', 'peakrpm', 'price',
       'total_mpg', 'wheelbase'],
      dtype='object')

In [72]:
test.columns.sort_values(ascending=True)

Index(['Company_alfa-romero', 'Company_audi', 'Company_bmw', 'Company_buick',
       'Company_dodge', 'Company_honda', 'Company_isuzu', 'Company_jaguar',
       'Company_mazda', 'Company_mitsubishi', 'Company_nissan',
       'Company_plymouth', 'Company_porsche', 'Company_saab', 'Company_subaru',
       'Company_toyota', 'Company_volkswagen', 'Company_volvo',
       'carbody_convertible', 'carbody_hardtop', 'carbody_hatchback',
       'carbody_sedan', 'carbody_wagon', 'carheight', 'carlength', 'carwidth',
       'curbweight', 'doornumber_four', 'doornumber_two', 'drivewheel_4wd',
       'drivewheel_fwd', 'drivewheel_rwd', 'enginetype_dohc',
       'enginetype_dohcv', 'enginetype_ohc', 'enginetype_ohcf',
       'enginetype_ohcv', 'enginetype_rotor', 'fueltype_diesel',
       'fueltype_gas', 'horsepower', 'peakrpm', 'price', 'total_mpg',
       'wheelbase'],
      dtype='object')

In [73]:
train.drop(['Company_chevrolet','Company_mercury','Company_peugeot','Company_renault','enginetype_l'],axis=1,inplace=True)
test.drop(['enginetype_dohcv'],axis=1,inplace=True)

In [74]:
train.shape

(153, 44)

In [75]:
test.shape

(52, 44)

In [76]:
from sklearn.model_selection import train_test_split

#np.random.seed(0)
#training, Valid= train_test_split(train, train_size = 0.7, test_size = 0.3, random_state = 100)

In [77]:
y_training = train.pop('price')
x_training = train

In [78]:
#from sklearn.linear_model import LinearRegression
#model = LinearRegression().fit(x_training, y_training)

In [79]:
#r_sq = model.score(x_training, y_training)
#print('coefficient of determination:', r_sq)

In [80]:
#y_Valid = Valid.pop('price')
#x_Valid = Valid

In [81]:
#y_pred = model.predict(x_Valid)

In [82]:
#print("RMS: %r " % np.sqrt(np.mean((y_pred - y_Valid) ** 2)))

In [83]:
y_data = test.pop('price')
x_data = test

In [84]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=72)
rfr.fit(x_training,y_training)
predict=rfr.predict(x_data)
Predictions=pd.DataFrame(predict)

In [85]:
#Predictions = model.predict(x_data)

In [86]:
#Predictions=pd.DataFrame(Predictions)

In [88]:
Predictions.to_csv("file9.csv", index = None,header="True")